<div class="grid-container">
  <div class="grid-item card item-1">1</div>
  <div class="grid-item card item-2">2</div>
  <div class="grid-item card item-3">3</div>
  <div class="grid-item card item-4">4</div>
  <div class="grid-item card item-5">5</div>
  <div class="grid-item card item-6">6</div>
  <div class="grid-item card item-7">7</div>
  <div class="grid-item card item-8">8</div>
  <div class="grid-item card item-9">9</div>
  <div class="grid-item card item-10">10</div>
  <div class="grid-item card item-11">11</div>
  <div class="grid-item card item-12">12</div>
  <div class="grid-item card item-13">13</div>
  <div class="grid-item card item-14">14</div>
  <div class="grid-item card item-15">15</div>
  <div class="grid-item card item-16">16</div>
  <div class="grid-item card item-17">17</div>
  <div class="grid-item card item-18">18</div>
  <div class="grid-item card item-19">19</div>
  <div class="grid-item card item-20">20</div>
</div>
