<div class="grid-container card">
  <h2 class="title">Hello me!</h2>
  <p class="description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et alias aperiam,
    saepe veritatis nesciunt repellendus ea quidem cum. Nobis fuga voluptatum
    adipisci dignissimos quaerat reiciendis voluptatem molestias consequuntur
    maiores beatae.
  </p>
  <img src="https://picsum.photos/200" alt="Profile Picture" />
  <div class="box"></div>
</div>

<!-- <div class="grid-container">
  <div class="item1 card">Header</div>
  <div class="item2 card">Menu</div>
  <div class="item3 card">Main</div>
  <div class="item4 card">Right</div>
  <div class="item5 card">Footer</div>
</div> -->
