.home-container {
  display: grid;
  grid-template-rows: max-content 1fr;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title {
  text-align: center;
}

.nav-cards-list {
  display: grid;
  gap: 1em;
}

a {
  text-decoration: none;
}
